[Desktop Entry]
Name=stUd
Name[nl]=stUd
Exec=qmlscene qml/Main.qml
Icon=assets/stUd.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Supported-Orientations=portrait
